.device-data-body label{
	font-size: 17px;
	font-weight: 500;
}

.device-data-body h3{
	padding-left: 16px;
	padding-bottom: 15px;
}
.placeholder-container{
	position: absolute;
	left: 400px;
}
.placeholder-container span{
	text-align: center;
	font-size: 16px;
	color: #FAC008;
	position: absolute;
	left: 300px;
	top: 10px;
}